*{
    margin:0;
    padding:0;
    font-family: 'Inter', sans-serif;
    font-family: 'KoHo', sans-serif;
    box-sizing: border-box;
}

/*Home Page Section CSS */

#home-page {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(45deg, rgba(0,0,0,0.85),rgba(118,0,255,0.85)),
    url(../images/background.jpg);
    background-position: center;
    background-size: cover;
    padding: 10px 8%;
    text-align: center;
    color: #fff;
}

nav {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 6%;
}

.logo {
    width:140px;
    cursor: pointer;
}

.nav-links {
    flex: 1;
    text-align: right;
  }
  
  .nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
  }
  
  .nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-family: 'KoHo', sans-serif;
  }
  
  .nav-links ul li::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  
  .nav-links ul li:hover::after {
    width: 100%;
  }

  .hero-btn {
    background: linear-gradient(#6a33ff, #351a80);
    color: #fff;
    font-size: 16px;
    padding: 12px 24px;
    border-radius: 30px;
    border: 0;
    outline: 0;
    cursor: pointer;
  }
